<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- Cadena de conexión para PostgreSQL en Render - Control Estudiantes -->
		<add name="ConexionBD"
			 connectionString="Host=dpg-d079g9hr0fns738c4sjg-a.oregon-postgres.render.com;Port=5432;Database=db_sistema_inventarios;Username=admin;Password=oeJowBVPraYwOklZ9OkUFt74xYXt9c8q;SSL Mode=Require;Trust Server Certificate=true;"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>